<div class="wrapper">

    <ss-toolbar (backArrowEvent)="toStart()" (logoutEvent)="onLogout()"
    [hideUser]="false"
    [hideNotes]="false"
    [hideBackArrow]="stateService.context===ManagerContext.start"
        [title]="stateService.mainTitle">
    </ss-toolbar>

    <div [ngSwitch]="stateService.context" class="content-wrapper">

        <div *ngSwitchCase="ManagerContext.start" class="content-container">
            <ss-list-selector [optionsList]="menuOptions">
            </ss-list-selector>
        </div>

        <div *ngSwitchCase="ManagerContext.base" class="content-container">
            <ss-normative-base></ss-normative-base>
        </div>
    </div>
</div>