<div class="container" [fileFormats]="acceptFormats" dndShaker (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" [accept]="acceptFormats?.join(', ')" [multiple]="false" (change)="fileBrowseHandler($event)" />
    <img src="assets\icons\uploader.svg" alt="">
    <h3>+ Перетащите файл сюда +</h3>
    <h3>или</h3>
    <label for="fileDropRef">Выберите файл</label>
</div>

<div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
        <div class="file-icon" style="width: 50px">
            <img src="assets\icons\fileIcon.svg" alt="">
        </div>
        <div class="info">
            <h4 class="name">
                {{ file?.name }}
            </h4>
            <p class="size">
                {{ formatBytes(file?.size, 0) }}
            </p>
        </div>

        <div class="delete" (click)="deleteFile(i)">
            <img src="assets\icons\delete.svg" alt="">
        </div>
    </div>
</div>
