<div class="wrapper">
  <div class="selector-container">

    <mat-tree  [dataSource]="dataSource" [treeControl]="treeControl" style="background-color: transparent;">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-stroked-button matTreeNodeToggle class="list-tree-button" (click)="node.action()">
          {{node.name}}
        </button>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <mat-icon class="mat-icon-rtl-mirror tree-icon" >
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
        <button mat-stroked-button  matTreeNodeToggle class="list-tree-button" >
          {{node.name}}
        </button>

      </mat-tree-node>
    </mat-tree>
  </div>


</div>