@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');

  .selector-opt {
    background: mat.get-color-from-palette($primary-palette, 400);
    margin-bottom: 8px;
    border-radius: 2px;
    height: 80px !important;
  }
  .selector-opt:hover {
    background: mat.get-color-from-palette($primary-palette, 300);
  }
  .divider {
    background-color: mat.get-color-from-palette($primary-palette, 100) !important;
    height: 2px !important;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}

.dark-mode .mat-list-item-disabled {
    background: #5a5656 !important;
}
.light-mode .mat-list-item-disabled {
    background: #d1d1d1 !important;
}
.selector-container {
    width: 50%;
    max-width: 800px;
    height: 50%;
    width: 50%;

    display: flex;
    flex-direction: column;
    margin: auto;
}
.wrapper {
    height: 100%;
}

.list-tree-button {
    width: 300px;
    justify-content: space-around;
    height: 60px;
    display: flex;
    align-items: center;
    line-height: 0;

}
.tree-icon {
  position: absolute;
  left: 5px;

}
.mat-tree-node {
  min-height: 65px;
  position: relative;
}
