<div *ngIf="!!optionsList?.length" class="wrapper">
    <div class="selector-container">
      <mat-selection-list class="selector" color="primary" #selector [multiple]="false" (selectionChange)="selector.selectedOptions.selected[0].value.action()">
        <mat-list-option class="selector-opt" color="primary"
          [ngClass]="{divider:option.isDivider}"
         *ngFor="let option of optionsList" [value]="option" [disabled]="!option.available">
          {{option.title}}
        </mat-list-option>
      </mat-selection-list>
    </div>

      
</div>