<div class="wrapper" >
    <div class="control-container">
        <button class="control-button" mat-stroked-button [disabled]="isAwaiting"
            (click)="addData()">Добавить узел
        </button>
        <button class="control-button" mat-stroked-button [disabled]="!selection.selected?.length"
            (click)="removeData()">Удалить узел
        </button>
    </div>
    <!-- ----------------------------------------------- -->
    <div class="example-container mat-elevation-z8" [ngClass]="{'hide-elem': isAwaiting}">
        <table mat-table [dataSource]="dataSourceTest"   class="mat-elevation-z8">

            <!-- Checkbox Column (matSortChange)="announceSortChange($event)" -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>

                <td mat-cell *matCellDef="let row">
                    <span class="checkbox-container">

                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="rowSelected($event.checked, row)" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>

                        <mat-icon (click)="$event.stopPropagation();onRootExpandClick(row)" *ngIf="row.hasChildren && row.isRoot"
                            class="mat-icon-rtl-mirror tree-icon">
                            {{row.isExpand ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </span>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Индекс </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.isRoot">
                        <div [ngClass]="{'hide-name-value': editingRow?.guid === element.guid}" class="name-value">
                            <div (click)="$event.stopPropagation();startNameEdit(element, editInput)">{{element.name}}
                            </div>
                        </div>
                        <div [ngClass]="{'show-name-input': editingRow?.guid === element.guid}" class="hide-name-input"
                            (click)="$event.stopPropagation();">
                                <textarea #editInput class="name-input" autofocus autocomplete="off" type="text"
                                    (blur)="finishEditing('', true)" (keyup)="onNameEditing($event, editInput.value)">
                                </textarea>
                        </div>
                    </span>
                    <span *ngIf="!element.isRoot">
                        <div class="index-name" *ngIf="editingRow?.guid !== element.guid"
                        (click)="onNameClick(element, $event)">
                            {{element.name.year}} | {{getCurrPeriodValue(element)}} | {{getCurrWorkCategory(element)}} 
                        </div>

                        <div #nameEdit class="index-id" *ngIf="editingRow?.guid === element.guid"
                        >
                            <mat-form-field class="small-part" (click)="$event.stopPropagation()">
                                <mat-label>Год выпуска</mat-label>
                                <mat-select [value]="'' + element.name.year" (selectionChange)="onYearChanged($event, element)">
                                  <mat-option *ngFor="let dates of allIndeciesYears" [value]="dates" >
                                    {{dates}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field class="middle-part" (click)="$event.stopPropagation()">
                                <mat-label>Период выпуска</mat-label>
                                <mat-select [value]="getCurrPeriodValue(element)" (selectionChange)="onPeriodChanged($event, element)">
                                  <mat-option *ngFor="let dates of allIndeciesPeriods" [value]="dates">
                                    {{dates}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field class="middle-part" (click)="$event.stopPropagation()">
                                <mat-label>Тип работ</mat-label>
                                <mat-select [value]="getCurrWorkCategory(element)" (selectionChange)="onWorkCategoryChanged($event, element)">
                                  <mat-option *ngFor="let dates of allIndeciesWorkTypes" [value]="dates">
                                    {{dates}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </span>
                </td>
            </ng-container>

            <!-- availability Column -->
            <ng-container matColumnDef="availability" >
                <th mat-header-cell *matHeaderCellDef>
                    <div class="centred">
                    Доступность
                   <br>
                   <mat-checkbox
                        (click)="$event.stopPropagation()"
                        [checked]="allAvailableState === 'checked'"
                        [disabled]="allAvailableState === 'checked'"
                        [indeterminate]="allAvailableState === 'mixed'"
                        (change)="toggleGlobalChange(true)">
                        Все доступны
                   </mat-checkbox>
                   <mat-checkbox
                        (click)="$event.stopPropagation()"
                        [checked]="allAvailableState === 'unchecked'"
                        [disabled]="allAvailableState === 'unchecked'"
                        [indeterminate]="allAvailableState === 'mixed'"
                        (change)="toggleGlobalChange(false)">
                       Все недоступны
                  </mat-checkbox>
                </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                    <div class="centred">
                            <mat-slide-toggle (click)="$event.stopPropagation()"
                                (change)="toggleChange($event.checked, element)" [checked]="element.availability"
                                labelPosition="after">{{element.availability ? "Доступна" : "Недоступна"}}
                            </mat-slide-toggle>
                        </div>
                    </span>
                </td>
            </ng-container>
            <!-- baseType Column -->
            <ng-container matColumnDef="baseType">
                <th mat-header-cell *matHeaderCellDef > Тип базы </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        {{element.baseTypeName}}
                    </span>
                 </td>
            </ng-container>

            <!-- cancelled Column -->
            <ng-container matColumnDef="cancelled">
                <th mat-header-cell *matHeaderCellDef> Отменена </th>
                <td mat-cell *matCellDef="let element">
                    <span style="margin: 10px;">
                        <mat-checkbox style="margin-left: 10px;"
                            [checked]="element.isCancelled"
                            (click)="$event.stopPropagation()"
                            (change)="toggleCancelChange($event.checked, element)">
                   </mat-checkbox>
                    </span>
                 </td>
            </ng-container>

            <ng-container matColumnDef="handleEdit">
                <th mat-header-cell *matHeaderCellDef> Доп. параметры </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.isRoot">
                        <button mat-stroked-button (click)="$event.stopPropagation();onHandleEdit(element)"> Редактировать вручную</button>
                    </span>
                </td>
            </ng-container>
           

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'hide-row': row.isHide}"
            [ngClass]="{'root-row': row.isRoot}"
                class="row-common" (click)="onRowClick(row)">
            </tr>
        </table>
    </div>
    <div class="load-spinner-container" *ngIf="isAwaiting">
        <mat-progress-spinner diameter="300" mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</div>