@use '../app/secondary-module/stepper/stepper.component.scss' as stepper;
@use '../app/secondary-module/list-selector/list-selector.component.scss' as list;
@use '../app/secondary-module/file-loader/file-loader.component.scss' as fileLoader;
@use '../app/secondary-module/login/login.component.scss' as login;
@use '../app/secondary-module/toolbar/toolbar.component.scss' as toolbar;
@use '../app/secondary-module/table-normo-control/table-normo-control.component.scss' as table-normo;
@use '../app/secondary-module/table-indecies-control/table-indecies-control.component.scss' as table-ind;
@use '../app/secondary-module/upload-process-card/upload-process-card.component.scss' as proc-info;
@import "~@angular/material/theming";
@import '~primeicons/primeicons.css';
// @import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

@include mat-core();

@mixin alltheme($theme) {
  @include angular-material-theme($theme);
  @include stepper.theme($theme);
  @include list.theme($theme);
  @include fileLoader.theme($theme);
  @include login.theme($theme);
  @include toolbar.theme($theme);
  @include table-normo.theme($theme);
  @include table-ind.theme($theme);
  @include proc-info.theme($theme);
}

$mat-primary-scheme: (
  background: whitesmoke,
  100: #cacff1,
  200: #d3d4ff, // +
  300: #9b96e2, // +
  400: #9b96e2,
  500: #4f5681, // +
  700: #303f9f,
  900: #d3d4ff, // +
  contrast: (
    100: red,
    300: whitesmoke,
    500: whitesmoke,
    700: whitesmoke,
  ),
);

$mat-accent-scheme: (
  background: whitesmoke,
  100: #cacff1,
  200: #d3d4ff,
  300: #9b96e2,
  400: #7082eb,
  500: #4f5681,
  700: #303f9f,
  contrast: (
    100: red,
    300: whitesmoke,
    500: whitesmoke,
    700: whitesmoke,
  ),
);

$mat-primary-scheme-dark: (
  background: #232323,
  background-color: #232323,
  100: #c5cae9,
  200: #525377, // +
  300: #737dbe, // 
  400: #4f5681,
  500: #4f5681, // +
  700: #293586,
  900: #2e2e2e,
  contrast: (
    100: red,
    300: whitesmoke,
    500: whitesmoke,
    700: whitesmoke,
  ),
);

$mat-accent-scheme-dark: (
  background: #232323,
  background-color: #232323,
  100: #c5cae9,
  200: #939ee4,
  300: #7492de,
  400: #7492de,
  500: #7492de,
  700: #7492de,
  contrast: (
    100: red,
    300: whitesmoke,
    500: whitesmoke,
    700: whitesmoke,
  ),
);

$mat-primary-palette: mat-palette($mat-primary-scheme);
// $mat-accent-palette: mat-palette($mat-primary-scheme);

$mat-primary-palette-dark: mat-palette($mat-primary-scheme-dark);
$mat-accent-palette-dark: mat-palette($mat-accent-scheme-dark);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-primary-palette-dark);
$app-dark-theme: mat-dark-theme($mat-primary-palette-dark, $mat-accent-palette-dark);


.light-mode {
  @include alltheme($app-light-theme);
  background-color: whitesmoke;
  color: #363636;

}
@include angular-material-theme($app-dark-theme);


.dark-mode {
  @include alltheme($app-dark-theme);

  background-color: #232323;
  color: whitesmoke;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
