@use '../app/secondary-module/stepper/stepper.component.scss' as stepper;
@use '../app/secondary-module/list-selector/list-selector.component.scss' as list;
@use '../app/secondary-module/file-loader/file-loader.component.scss' as fileLoader;
@use '../app/secondary-module/login/login.component.scss' as login;
@import "~@angular/material/theming";

@include mat-core();

@mixin alltheme($theme) {
  @include angular-material-theme($theme);
  @include stepper.theme($theme);
  @include list.theme($theme);
  @include fileLoader.theme($theme);
  @include login.theme($theme);
}

$mat-primary-scheme: (
  background: whitesmoke,
  100: #cacff1,
  300: #c5cae9,
  400: #6b7de4,
  500: #697ada,
  700: #303f9f,
  contrast: (
    100: red,
    300: whitesmoke,
    500: whitesmoke,
    700: whitesmoke,
  ),
);

$mat-primary-scheme-dark: (
  background: #232323,
  background-color: #232323,
  100: #c5cae9,
  200: #939ee4,
  300: #737dbe,
  400: #4f5681,
  500: #4f5681,
  700: #293586,
  contrast: (
    100: red,
    300: whitesmoke,
    500: whitesmoke,
    700: whitesmoke,
  ),
);

$mat-primary-palette: mat-palette($mat-primary-scheme);
// $mat-accent-palette: mat-palette($mat-primary-scheme);

$mat-primary-palette-dark: mat-palette($mat-primary-scheme-dark);
// $mat-accent-palette-dark: mat-palette($mat-primary-scheme-dark);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-primary-palette-dark);
$app-dark-theme: mat-dark-theme($mat-primary-palette-dark, $mat-primary-palette);


.light-mode {
  @include alltheme($app-light-theme);
  background-color: whitesmoke;
  color: #363636;

}
@include angular-material-theme($app-dark-theme);


.dark-mode {
  @include alltheme($app-dark-theme);

  background-color: #232323;
  color: whitesmoke;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
