  .wrapper {
    width: 100%;
    table {
        width: 100%;
      }
    user-select: none;
  }
  .control-container {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;

  }
  .control-button {
    width: 150px;
    margin: 5px;
    margin-left: 0;
  }

  .example-container {
    height: 100%;
    overflow: auto;
    position: relative;
    margin: 5px;
    margin-top: 0;
  }
  .mat-icon { 
    width: 30px;
  }

  .show-name-input {
    display: flex !important;
    z-index: 99;
    max-height: 30px;
  }
  .name-input {
    display: flex;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    height: 100px;
    max-height: 150px;
    min-height: 30px;
    resize: vertical;
  }

  .name-value {
    display: flex;
    min-width: 440px;
    width: 440px;
    max-width: 440px;

  }

  .row-common {
    transition: all 0.5s ease-in ;
    height: 48px;
    opacity: 1;

    span {
      display: flex;
      padding-right: 10px;
    }
  }
  .root-row {
    background: #525377;
  }
  .hide-row {
    display: none;
    // transition: all 0.4s ease-in ;
    // height:  0 !important;
    // opacity: 0;
    // border: none;
    // * {
    //   height:  0 !important;
    //   opacity: 0;
    //   font-size: 0;
    // }
  }
  .hide-name-value,
  .hide-name-input {
    display: none;
  }

  .dark-mode, .mat-header-row {
    background: #323232;
  }
  .light-mode, .mat-header-row {
    background: gray;
  }

  .load-spinner-container {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 10px;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 275px;
  }

  .centred {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mat-row {
    font-size: 12px;
  }

  .mat-column-select {
    max-width: 64px;
    width: 64px;
  }
  .mat-column-name {
    font-size: 12px;
    
    width: 450px;
  }
  .mat-column-baseType {
    width: 350px;
    font-size: 12px;
    
    max-width: 350px;
  }
  .mat-column-availability {
    font-size: 12px;

    max-width: 140px;
    min-width: 140px;
    width: 140px;
  }
  .mat-column-cancelled {
    max-width: 150px;
    min-width: 150px;
    width: 150px;
  }
  .mat-column-availableChilds {
    font-size: 12px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

