<div class="wrapper">
    <span id="demo-optional-label-group"
        [(ngModel)]="optionalLabelText"
        ngDefaultControl 
        (ngModelChange)="updateOptionalLabel()">
</span>

    <mat-stepper #stepper orientation="vertical" [linear]="true" *ngIf="!!firstFormGroup" color="accent"
        (selectionChange)="test($event)">

        <mat-step [editable]="isEditable" [completed]="stepModel.isCompleted" [optional]="stepModel.isOptional"
                [stepControl]="firstFormGroup"
                *ngFor="let stepModel of data?.steps" #stepp>

            <form  [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{stepModel.stepLabel}}</ng-template>

            <div class="mat-container" *ngFor="let fieldModel of stepModel.fields">

                <div class="field-container" *ngIf="fieldModel.type === 'selector'">
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>{{fieldModel.fieldLabel}}</mat-label>

                        <mat-select (selectionChange)="fieldModel.onDataChange($event.value, stepModel)">
                            <mat-option *ngFor="let option of fieldModel.fieldOptions" [value]="option"
                                [disabled]="!option.isAvailable" (onSelectionChange)="option.action(option, stepModel)">
                                <img *ngIf="!!option.imgSrc" [src]="option.imgSrc" />
                                {{option.value}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-spinner *ngIf="stepModel.isAwaiting" mode="indeterminate" color="accent" [diameter]="40"></mat-spinner>

                </div>

                <div *ngIf="fieldModel.type === 'input'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{fieldModel?.fieldLabel ?? ""}}</mat-label>
                        <input #stepInput  matInput autocomplete="false" (keyup)="fieldModel.onDataChange(stepInput.value, stepModel)"
                            value="">
                    </mat-form-field>
                    <mat-spinner *ngIf="stepModel.isAwaiting" mode="indeterminate" color="accent" [diameter]="40"></mat-spinner>
                </div>

                <div *ngIf="fieldModel.type === 'label'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{fieldModel?.fieldLabel ?? ""}}</mat-label>
                        <input class="label-input" matInput type="text" readonly="true" autocomplete="false" 
                        [value]="fieldModel.text">
                    </mat-form-field>
                    <mat-spinner *ngIf="stepModel.isAwaiting" mode="indeterminate" color="accent" [diameter]="40"></mat-spinner>
                </div>

                <div *ngIf="fieldModel.type === 'divider'" class="add-form">
                </div>

                <div *ngIf="fieldModel.type === 'fileLoader'" class="file-loader">
                    <ss-file-loader [acceptFormats]="fieldModel.fileFormats" (filesChanged)="fieldModel.onDataChange($event, stepModel)"></ss-file-loader>
                    <mat-spinner *ngIf="stepModel.isAwaiting" mode="indeterminate" color="accent" [diameter]="40"></mat-spinner>
                </div>
            </div>

            <div class="checkbox-container" *ngIf="stepModel.checkbox && stepModel.checkbox.action">
                <mat-checkbox  class="example-margin"
                    [disabled]="stepModel.checkbox.isDisable"
                    [checked]="stepModel.checkbox.value"
                    color="primary"
                    (change)="stepModel.checkbox.action($event.checked, stepModel)">
                        {{stepModel.checkbox.text}}
                </mat-checkbox>
            </div>
            <div class="buttons-container">
                <button class="step-button action-button" 
                    *ngIf="stepModel.actionButton?.needShow && !!stepModel.actionButtonAction" [disabled]="stepModel.actionButton?.isDisable"
                    mat-button (click)="stepModel.actionButtonAction()">Готово</button>
                
                <button class="step-button" 
                    *ngIf="stepModel.nextButton?.needShow" [disabled]="stepModel.nextButton?.isDisable"
                     mat-button (click)="stepper.next()">Вперед</button>
                
                <button class="step-button" 
                    *ngIf="stepModel.backButton?.needShow" [disabled]="stepModel.backButton?.isDisable"
                     mat-button (click)="stepper.previous()">Назад</button>
               
                <button class="step-button" 
                    *ngIf="stepModel.resetButton?.needShow" [disabled]="stepModel.resetButton?.isDisable"
                 mat-button (click)="stepper.reset()">Заново</button>


            </div>
        </form>

        </mat-step>
    </mat-stepper>

</div>