<div class="wrapper">
    <mat-stepper #stepper orientation="vertical" [linear]="false">

        <mat-step [editable]="true" *ngFor="let stepModel of data?.steps">

            <!-- <div class="step-container"></div> -->
            <ng-template matStepLabel>{{stepModel.stepLabel}}</ng-template>

            <mat-form-field *ngFor="let fieldModel of stepModel.fields" class="form-field" appearance="fill">
                <mat-label>{{fieldModel.fieldLabel}}</mat-label>

                <span *ngIf="fieldModel.type === 'selector'">
                    <mat-select>
                        <mat-option *ngFor="let option of fieldModel.fieldOptions" [value]="option"
                            [disabled]="!option.isAvailable" (onSelectionChange)="option?.action(option.value)">
                            {{option.value}}
                        </mat-option>
                    </mat-select>
                </span>

                <span *ngIf="fieldModel?.type === 'input'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{fieldModel?.fieldLabel}}</mat-label>
                        <input matInput autocomplete="false" (change)="fieldModel?.onDataChange($event)" value="">
                    </mat-form-field>
                </span>

                <span *ngIf="fieldModel.type === 'label'">
                    <mat-form-field appearance="fill">
                        <ng-template matStepLabel>{{fieldModel.kjmijmk}}</ng-template>
                    </mat-form-field>
                </span>
            </mat-form-field>
            <div>
                <button *ngIf="stepModel.needResetButton"
                     mat-button (click)="stepper.reset()">Заново</button>
                <button *ngIf="stepModel.needResetButton"
                     mat-button (click)="stepper.previous()">Назад</button>
                <button *ngIf="stepModel.needResetButton"
                    class="step-button" mat-button (click)="stepper.next()">Вперед</button>
            </div>
        </mat-step>
    </mat-stepper>

</div>