<div class="wrapper">

    <div class="log" [ngClass]="log.styleClass" *ngFor="let log of logApi.notificationMessageData"
        (dblclick)="openLog(log.notificationMessage.guid);">
        <span class="time-log">[ {{log.notificationMessage.timeStamp}} ]:</span>
        <span class="serv-log">{{log.notificationMessage.fromService}}: </span>
        <span class="mess-log">{{log.notificationMessage.message}}</span>
        <span class="open-log" [ngClass]="{'hide-elem': !log.notificationMessage.extraMessage}"
            (click)="openLog(log.notificationMessage.guid); $event.stopPropagation()">
            <img draggable="false" src="assets\icons\back.svg" class="open-log-icon" [ngClass]="{'rotate-elem': log.isOpened}" alt="">
        </span>
        <span class="extra-log" *ngIf="log.isOpened">
            {{log.notificationMessage.extraMessage}}
        </span>
    </div>

</div>