.proc-monitoring-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .proc-tool {
        height: 50px;
        width: 100%;

        .proc-tool-button {
            border: 1px solid;
            width: 183px;
            margin: 10px;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            display: flex;
            cursor: pointer;

            .proc-tool-icon {
                margin: 5px;
                margin-left: 15px;
            }
        }
    }

    .proc-elem {
        margin: 14px;
        height: fit-content;
    }
}