@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  .title {
    display: flex;
    justify-content: center;
    background: mat.get-color-from-palette($primary-palette, 400);
    height: 50px;
    padding: 10px;
    line-height: 50px;
  }
  .remeber-checkbox {
      width: 100%;
  }
  .sub-button {
    width: 50%;
    background: mat.get-color-from-palette($primary-palette, 300);
    height: 40px;
    align-self: center;
    margin: auto;
    margin-bottom: 20px;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}

:host {
  .mat-container {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 460px;
    
    z-index: 99;
  }

  .form-container {
      margin: 20px;
  }

  .icon {
    width: 100px;
    height: 100px;
    margin: 20px auto;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
  
  mat-form-field {
    width: 100%;
    min-width: 200px;
  }
  mat-card {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  mat-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  mat-card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
  }
}



::ng-deep .dark-mode .mat-primary .mat-option.mat-selected {
  color: whitesmoke !important;

}
::ng-deep .dark-mode .mat-form-field.mat-focused .mat-form-field-label {
  color: whitesmoke !important;
}

::ng-deep .dark-mode .mat-card {
  box-shadow: 0px 12px 9px -1px rgb(0 0 0 / 25%),
  0px 2px 12px 0px white,
  0px 1px 25px 0px rgb(0 0 0 / 12%) !important;
}