<div class="mat-container">
    <mat-card>
        <form [formGroup]="form">
            <mat-card-title>Авторизация</mat-card-title>
            <mat-error *ngIf="loginInvalid">
                The username and password were not recognized
            </mat-error>
            <mat-form-field class="form-field">
                <input matInput type="text" autocomplete="false" placeholder="Логин" formControlName="username"
                    required>
                    <mat-error>
                        Please provide a valid email address
                      </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput type="password" autocomplete="false" placeholder="Пароль" formControlName="password"
                    required>
                    <mat-error>
                        Please provide a valid email address
                      </mat-error>
            </mat-form-field>

            <button mat-button>Войти</button>

            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </form>
    </mat-card>
</div>