<div class="mat-container">
    <mat-card>
        <mat-card-title>Авторизация</mat-card-title>
        <mat-card-content>
            <mat-form-field class="form-field" placeholder="Логин">
                <input matInput type="text" autocomplete="false">

            </mat-form-field>
            <mat-form-field class="form-field" >
                <input matInput type="password" autocomplete="false" placeholder="Пароль">

            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
