@use 'sass:map';
@use '@angular/material' as mat;
@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $accentColor: mat.get-color-from-palette($accent-palette, 500);
}

.tool-container {
  width: 40px;
  position: relative;
  display: flex;
  cursor: pointer;
  margin-left: 10px;
  height: 40px;
  border-radius: 50%;
  img {
    height: 26px;
    margin: auto;
  }
}
.tool-container:hover {
  background-color: #ffffff23;

}
.divider {
  border-left: solid;
}

.dark-icon {
  width: 3px;
  background: white;
  height: 11px;
  left: 18px;
  top: 12px;
  position: absolute;
  border-radius: 50%;
  z-index: 999;
  box-shadow: 0px 0px 0px -1px rgb(0 0 0 / 0%), 0px 2px 13px 2px white, 0px 1px 25px 0px rgb(0 0 0 / 12%);
}
.hover-toggler:hover {
  .dark-icon {
    box-shadow: 0px 0px 0px -1px rgb(0 0 0 / 0%), 0px 2px 13px 4px white, 0px 1px 25px 0px rgb(0 0 0 / 12%);
  }
}

.main-tool-bar {
    height: 55px;
    min-height: 40px;
    font-size: 18px;
    
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding-left: 0;
  }
  .back-arrow {
    padding: 0;
    padding-left: 15px;
  }

  .g-icon {
    width: 100%;
    height: 100%;
    animation: g-anim-icon;
    animation-duration: 2200ms;
    animation-iteration-count: 1;
    border-radius: 50%;
    opacity: 0.9;
    overflow: hidden;
  }

  .g-style {
    position: absolute;
    border-radius: 50%;
    animation: g-anim;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in; 
    display: flex;
    opacity: 0;
    z-index: 0;
    overflow: hidden;
  }

  @keyframes g-anim {
    0% {
      width: 300px;
      height: 300px;
      top: 40px;
      right: 250px;
      opacity: 0.9;
      border-radius: 80%;

    }
  
    100% {
      opacity: 0.1;
      width: 30px;
      height: 30px;
      top: 30px;
      right: 30px;
      border-radius: 50%;

    }
  }

  @keyframes g-anim-icon {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }