<mat-toolbar class="main-tool-bar" color="primary">
    <mat-toolbar-row>
        <div *ngIf="!hideBackArrow" class="tool-container" (click)="onBack()">
            <img src="assets\icons\back_arrow.svg" alt="">
        </div>
        <span style="padding-left: 15px;">{{title}}</span>
        <span style="flex: 1 1 auto"></span>
        <div class="tool-container hover-toggler" (click)="toggleDarkMode()">
            <div *ngIf="!isDarkMode" class="dark-icon"></div>
            <img [src]="isDarkMode ? 'assets\\icons\\light.svg':'assets\\icons\\dark.svg'" alt="">
        </div>
        <div *ngIf="!hideNotes" class="tool-container">
            <img src="assets\icons\notifications.svg" alt="">
        </div>
        <div *ngIf="!hideUser" class="tool-container" (click)="onLogout()">
            <img *ngIf="!needMuscle" class="logout-icon" src="assets\icons\user.svg" alt="">
            <img *ngIf="needMuscle" class="logout-icon g-icon" style="height: 40px; width: 40px;"  
                src="assets\icons\g.jpg" alt="">
        </div>


    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="needMuscle" [ngClass]="{'g-style': needMuscle}">
    <img class="g.icon" src="assets\icons\g.jpg" alt="">

</div>