<div (keyup)="handleKey($event)">
    <h2 class="title-dialog" mat-dialog-title>Редактирование объекта</h2>
    <div class="table-like" mat-dialog-content>
        <div *ngFor="let keyValue of objKeyValues" class="pair-row">
            <div class="key-col"> {{keyValue.key}}</div>
            <div class="value-col">
                <input #input [value]="keyValue.value" [disabled]="isKeyDisabled(keyValue.key)"
                    (keyup)="keyValue.value = input.value;valueChange(input.value)">
            </div>
        </div>
        <div class="validator-field" [ngClass]="{'validator-error': errorMessage}">
            <img [src]="errorMessage ? 'assets/icons/cross.svg' : 'assets/icons/check.svg'" alt="">
            {{!errorMessage ? "Корректный тип" : errorMessage}}
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-flat-button [mat-dialog-close]="editingCopy" cdkFocusInitial color="primary" [disabled]="!!errorMessage">Принять</button>
        <button mat-stroked-button (click)="onNoClick()">Отменить</button>
    </div>
</div>